{% extends 'club/base.html' %}
{% block content %}
{% load static %}

<!-- <div class="container">
    <div class="col-md-12">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 50%;">
                <img src="{% static 'club/img/enfants.jpg' %}" alt="" title="">
            </div>
            <div class=" align-left">
                <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Titre articles</h2>
                <div class="mbr-section-text">
                    <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">balblabla</p>
                </div>

                <div class="block-content">
                    <div class="card p-3 pr-3">
                        <div class="media">

                            <div class="media-body">
                                <h4 class="card-title mbr-fonts-style display-5">
                                    Lights Installation
                                </h4>
                            </div>
                        </div>

                        <div class="card-box">
                            <p class="block-text mbr-fonts-style display-7"><span style="font-size: 19.2px;">Do you want
                                    to release your glorious design ideas? If you want to turn your house or office into
                                    a real piece of art, then welcome.</span><br></p>
                        </div>
                    </div>

                    <div class="card p-3 pr-3">
                        <div class="media">

                            <div class="media-body">
                                <h4 class="card-title mbr-fonts-style display-5">Maintenance
                                </h4>
                            </div>
                        </div>

                        <div class="card-box">
                            <p class="block-text mbr-fonts-style display-7">
                                We continually expand the assortment, we add new lots of lanterns and we expand the
                                catalog of our suppliers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}