{% extends 'club/base.html' %}
{% block content %}
{% load static %}


<div class="col-lg-12">
    <h2 class="intro-text text-center">La galerie du G.A.B.O</h2>
</div>

<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet1.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet1.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet2.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet2.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet3.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet3.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet4.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet4.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet5.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet5.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet6.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet6.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/enfants.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/enfants.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/enfants2.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/enfants2.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/events.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/events.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet7.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet7.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet8.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet8.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet9.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet9.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet10.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet10.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet11.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet11.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet12.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet12.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>
{% endblock %}