{% extends 'club/base.html' %}
{% block content %}
{% load static %}


<div class="col-lg-12">
    <h2 class="intro-text text-center">La galerie du G.A.B.O</h2>
</div>
<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/fete1.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/fete1.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/fete2.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/fete2.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/events.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/events.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/fete3.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/fete3.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/fete4.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/fete4.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/jeuness1.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/jeuness1.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>

</div>
<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">

        <a href="{% static 'club/img/jeuness2.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/jeuness2.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/enfants.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/enfants.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet1.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet1.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">

        <a href="{% static 'club/img/clubolivet2.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet2.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet3.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet3.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet4.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet4.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">

        <a href="{% static 'club/img/clubolivet5.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet5.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet6.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet6.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet7.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet7.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">

        <a href="{% static 'club/img/clubolivet8.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet8.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet9.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet9.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
    <div class="col-lg-4 mt-2 mb-2 text-center align-self-center">
        <a href="{% static 'club/img/clubolivet10.jpg' %}" data-size="1600x1067">
            <img alt="picture" src="{% static 'club/img/clubolivet4.jpg' %}" class="img-dimension-galerie img-fluid" />
        </a>
    </div>
</div>
<!-- <div class="gamma-overlay" style="display: none; transition: opacity 300ms ease 0s; opacity: 0;"></div>
<div class="gamma-single-view" style="display: none;">
    <div class="gamma-options gamma-options-single">
        <div class="gamma-buttons"><button class="gamma-btn-close"></button><button class="gamma-btn-ssplay"></button>
        </div>
    </div>
    <nav class="gamma-nav"><span class="gamma-prev"></span><span class="gamma-next"></span></nav>
    <div class="gamma-description-wrapper">
        <div class="gamma-description" style="transition: opacity 150ms ease-in-out 0s; opacity: 0;"></div>
    </div>
</div> -->


{% endblock %}