body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: linear-gradient(
        rgba(248, 246, 246, 0.55),
        rgba(248, 246, 246, 0.55)),
        url("../img/bridge1.jpg");
    background-size: cover;
    opacity: 1;
}
.hauteurbox{
    min-height: 75vh;
}
/* footer {
    bottom: 0;
    width: 100%;
} */

.logo{
    object-fit: cover;
    height: 15vh;
}

.img-carousel {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.img-dimension{
    
    object-fit: cover;
    height: 300px;
    border-radius: 20px!important
    
}
.img-dimension-galerie{
    
    object-fit: cover;
    height: 200px;
    border-radius: 20px!important
    
}
.card{
    padding: 20px;
    border-radius: 20px!important;
    background-color:rgb(235, 236, 236);
}
.detail-separator {
    padding-bottom: 25px;
}

.nav-link{
    margin: 0 30PX;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

/* .carousel{
    padding: 5px;
} */

.text-acceuil2{
    padding: 20px;
}

/* .img-galerie{
    object-fit: cover;
    height: 300px;
    border-radius: 20px!important
} */





