footer {
    bottom: 0;
    width: 100%;
}

.logo{
    object-fit: cover;
    height: 15vh;
}

.img-carousel {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.img-dimension{
    
    object-fit: cover;
    height: 300px;
    border-radius: 30px!important
    
}
.card{
    border-radius: 20px!important 
}
.detail-separator {
    padding-bottom: 25px;
}

.nav-link{
    margin: 0 30PX;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.carousel{
    padding: 5px;
}

.text-acceuil2, .img-acceuil{
    padding: 20px;
    
}

