footer {
  
    bottom: 0;
    width: 100%;
}

.logo{
    /* max-width: 20%; */
    height: 15vh;
}

.img-carousel {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.img-dimension{
    height: 15vh;
}